<app-loading></app-loading>
<app-edit-doc [doucumentList]="doucumentList" [cmuaccount]="cmuaccount" [token]="token"></app-edit-doc>

<p-dialog header="แจ้งเตือน" [(visible)]="display" [closable]="false" [minWidth]="300">
  การเข้ารหัสไม่ถูกต้อง กรุณา login CMU Mobile App ใหม่ อีกครั้ง
</p-dialog>

<!-- <button type="text" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Show">test</button> -->

<div class="wrapper nav-wrapper">
  <div class="nav textbox-container">
    <input type="text" class="textbox" id="inputSearch" placeholder="Search..." [(ngModel)]="searchTxt">
  </div>
  <div class="nav button-container">
    <button type="button" class="button" (click)="topicSearch()"><!--i class="fa fa-search"></i-->SEARCH</button>
  </div>
  <div class="nav button-container">
    <button type="button" class="button" (click)="openEdit()"><!--i class="fa fa-edit"></i-->EDIT</button>
  </div>
</div>
<div class="wrapper list-wrapper" *ngIf="doucumentList">
    <table width="100%">
      <div [class]="item.IsOpened == 0 ? 'never-open item-wrapper' : 'item-wrapper'" *ngFor="let item of doucumentList.data;" (click)="editIsOpen(item.docSubID)" [routerLink]="['/document-detail', item.docID, item.docSubID, this.cmuaccount]">
      <tr>
        <td width="100%" class="text-bold">{{item.docCode}}</td>
        <td>{{item.sendTimeString}}</td>
      </tr>
      <tr>
        <td>{{item.topic}}</td>
        <td class="text-center">
          <img [src]="item.IsOpened == 0 ? './assets/img/play_icon_active.png' : './assets/img/play_icon_disabled.png'" width="40" alt="">
        </td>
      </tr>
      <tr>
        <td class="text-bold">{{item.textStaus}}</td>
        <td></td>
      </tr>
    </div>
    </table>

  <!-- </div> -->
</div>