@media only screen and (max-width: 320px) {
    input.textbox {
        width: 78%;
    }
}
@media only screen and (min-width: 320.1px) {
    input.textbox {
        width: 85%;
    }
}
@media only screen and (min-width: 767px) {
    input.textbox {
        width: 94%;
    }
}

app-edit-doc {
    display: none;
}

div.wrapper {
    width: 100%
}

div.nav-wrapper {
    background-color: #9cd2fd;
}

div.nav {
    display: table-cell;
    text-align: center;
}

div.textbox-container {
    width: 100%;
    padding: 4px;
    text-align: center;
}

div.button-container {
    padding: 8px 8px 8px 0;
    text-align: center;
}

button.button {
    padding: 12px;
    border: 1px solid #2196f3;
    border-radius: 4px;
    background-color: #2196f3;
    color: #ffffff;
}

input.textbox {
    padding: 12px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
}


div.item-wrapper {
    padding: 8px;
    border-bottom: 1px solid #acaaaa83;
    background-color: #e0e0e0;
}

.never-open{
    background-color: #ffffff !important;
}