<div class="dim-background" (click)="closeEdit()"></div>

<div id="edit-wrapper" *ngIf="doucumentList">
  <div class="wrapper nav-wrapper">
    <div class="nav button-container">
      <button type="button" class="button" (click)="closeEdit()">CANCEL</button>
    </div>
  </div>
  <table width="100%">
    <div class="edit-item-wrapper" (click)="selectedItem($event, item.docSubID)" *ngFor="let item of doucumentList.data;">
      <tr>
        <td></td>
        <td width="100%" class="text-bold">{{item.docCode}}</td>
      </tr>
      <tr>
        <td class="text-center">
          <img class="edit-checkbox" src="./assets/img/blank_icon.png">
        </td>
        <td>{{item.topic}}</td>
      </tr>
      <tr>
        <td></td>
        <td class="text-bold">{{item.textStaus}}</td>
      </tr>
    </div>
    <div class="edit-item-wrapper">
      <tr height=40>
        <td>&nbsp;</td>
      </tr>
    </div>
  </table>
</div>

<div class="deleteButton" (click)="deleteDocument()">Delete</div>

<app-loading></app-loading>