app-loading{
    display: none;
}

div.wrapper {
    width: 100%;
    padding: 0 0 0 calc(100% - 97px);
    text-align: right;
}

div.nav {
    display: table-cell;
}

div.button-container {
    padding: 8px;
    text-align: center;
}

button.button {
    padding: 12px;
    border: 1px solid #FE2E2E;
    border-radius: 4px;
    background-color: #FE2E2E;
    color: #ffffff;
}

div#edit-wrapper {
    position: fixed;
    width: 100%;
    /* height: calc(100% - 57px); */
    /* top: 57px; */
    height: 100%;
    top: 0px;
    overflow: auto;
    z-index: 99;
}

div.edit-item-wrapper {
    padding: 8px;
    border-bottom: 1px solid #acaaaa83;
    background-color: #fff;
}

div.edit-item-wrapper.selected {
    padding: 8px;
    border-bottom: 1px solid #acaaaa83;
    background-color: #e6e6e6;
}

div.edit-item-wrapper:nth-last-child(2) {
    border-bottom: none;
}

.edit-checkbox {
    width: 30px;
    padding: 8px;
}

.dim-background {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.5)
}

.deleteButton {
    position: fixed;
    display: table-cell;
    text-align: center;
    background-color: #2196f3;
    color: #f0f0f0;
    top: 100%;
    -webkit-transition: top 0.1s;
    transition: top 0.1s;
    z-index: 100;
    height: 40px;
    line-height: 40px;
    width: 100%;
}

.deleteButton.show {
    top: calc(100% - 40px);
}