/* You can add global styles to this file, and also import other style files */

html, body {
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 14px;
    height: 100%;
    color: #898a91;
    background: #eeeeee;
}

body {
    max-width: 800px;
    margin: 0 auto;
}

table {
    border-spacing: 0;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #2196f3;
    background-color: #fff;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    color: #2196f3;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #2196f3;
    color:#eee;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding-top: 6px;
    padding-bottom: 6px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 0.3s;
}

.tabcontent.defaultopen {
    display: block;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}


/* override primeng */
p-autocomplete, p-autocomplete span {
    width: 100% !important;
}

p-autocomplete span ul.ui-state-default{
    width: 100%;
    border: none ;
    border-bottom: 1px solid #bbb;
}

p-autocomplete span ul.ui-state-default li input{
    line-height: 1.6rem;
}