
.main-wrapper {
    min-height: 100%;
    background-color: #ffffff;
}

.nav {
    background-color: #2196f3;
    color: #ededed;
}

.nav-item {
    display: inline-block;
    padding: 19px 20px;
}

.nav-back-button {
    border-right: 1px solid #7ec0f5;
}

.header-wrapper {
    margin: 16px;
    font-weight: 900;
}

.content {
    padding-left: 16px;
    padding-right: 16px;
}

.doc-tag {
    background-color: #63a9aa;
    color: #fafafa;
    padding: 4px;
    border-radius: 8px;
    font-weight: normal;
}

.detail-item h4 {
    color: #333;
    -webkit-margin-before: 8px;
    -webkit-margin-after: 8px;

}

#files {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.file-item-wrapper {
    border-bottom: 1px solid #898a9198;
    padding-top: 8px;
    padding-bottom: 8px;
}

.file-item div {
    display: table-cell;
}

.file-order {
    font-weight: bold;
    font-size: 1.6rem;
    padding: 0 8px;
}

.file-link a {
    text-decoration: none;
    color: #2196f3;
}

#order {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.order-order{
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding: 8px 16px;
}

td div.order-card:first-child {
    border-bottom: 1px solid #898a9198;
    padding: 0 0 8px 0;
}

td div.order-card {
    border-bottom: 1px solid #898a9198;
    padding: 8px 0;
}

.text-black {
    color: #333;
}

.text-top {
    vertical-align: top;
}

.text-inline-title {
    padding-right: 8px;
}

table {
    width: 100%
}

.action-tab {
    position: fixed;
    max-width: 800px;
    width: 100%;
    bottom: 0px;
    z-index: 50;
    border: none;
    height: 50px;
}

.action-tab button{
    background-color: #2196f3;
    border-right: 1px solid white;
    color: #eee;
    height: 50px;
}

.action-tab button.accepted {
    background-color: #60accb;
    z-index: 99
}

.action-tab button:last-child {
    border: none;
}

/* override */
.action-tabcontent {
    padding-bottom: 56px;
}

div.app-forward {
    display: none;
}

app-loading{
    display: none;
}

.dim-background {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.5)
}

#dialog-wrapper, #comment-wrapper {
    position: fixed;
    top: 55px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 51;
}

div#comment-wrapper {
    display: none;
    z-index: 52;
}

div#comment-wrapper textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #bbb;
}

#button-wrapper {
    background-color: #2196f3;
    border-radius: 10px 10px 0 0;
    color: #ffffff;
    padding: 10px;
}

#search-wrapper{
    display: flex;
    padding: 4px 16px 0 8px;
}

#search-wrapper i{
    font-size: 2rem;
    padding-right: 4px;
}

#search-wrapper input {
    display: flex;
    border: none;
    border-bottom: 1px solid #aaa;
    padding: 4px;
    width: 100%;
    line-height: 1.6;
}

#list-wrapper {
    padding: 8px;
}

#list-wrapper .list-item {
    border: 1px solid #bbb;
    border-radius: 8px;
    box-shadow: 0px 1px 2px #888888;
    margin-bottom: 4px;
}

#list-wrapper .list-item .list-item-img {
    padding: 4px;
}

#list-wrapper .list-item .list-item-text {
    padding: 4px;
    line-height: 3;
}

#list-wrapper .list-item .list-item-close {
    padding: 8px;
    line-height: 2;
    font-size: 1.2rem;
}

.clear-both {
    clear: both;
}

.clear-both::before, .clear-both::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-black {
    color: #333;
}

.text-disabled {
    color: #ccc;
}